aside{
    position: relative;
    margin: 100px auto 100px auto;
    border-bottom: #696969 1px solid;
    min-height: 250px;
   
    
}
.asrow{
   
   display: flex;
   justify-content: center;
   position: relative;
}
.adbanner{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 180px;
  width: 50%;
  
}

.adbanner:hover{
    background-color: black;
    transition: .6s;
    color: aliceblue;
}

.adbannercircle{
    max-width: 180px;
    max-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    
}

.addbeannerbtn{

    padding: 15px 18px;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    color: #696969;
  

    
}

.addbeannerbtn:hover{
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    transition: 1s;
}


.bannerback{
    width: 250px;
    height:550px;
    border: #696969 8px solid;
    
    border-spacing: 50%;
    z-index: -1;
    position:absolute;
    top: -630px;
    right: 50px;
    overflow: hidden;
       
} 
    

