.foorow{
position: relative;   
  
}

.fot ,.foo{
min-height: 150px;
display: flex;
position: relative;
}




/*****************************/
.fot{
justify-content: center;
align-items: center;
}
.fot ul{
column-count: 2;
position: absolute;
left: 80px;

}
.fot ul li{
    margin-bottom: 5px;
}


/*****************************/

.foo{
justify-content: center;
align-items: center;
}


.foo ul{
display: flex;
}


.foo ul li{
   margin-left: 10px;
   
}


/*****************************/
.ahov:hover{
    color: chocolate;
}