body{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Open Sans', sans-serif;
}




/***********  head ***********/
.head_banner{
    background-color: #E0B941;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head_discript{
    height: auto;
    color: #fff;
}

.photo{
    width: 150px;
    margin-left: 50px;
}

@media only screen and (max-width: 767px) {
    .photo{
       display: none;
    }
  }



/***********  nav ***********/
.nav{
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: 3;
}

.nav_bt_open,.nav_bt_close{
    width: 40px;
    height: 40px;
    border-style: none;
    background-color: #fff;
    position: absolute;
    top:30px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_panel{
    width: 100%;
    height: 100vh;
    background-color: #fff;


}
.navbt{
    width: 35px;
    height: 35px;
}




/***********  article ***********/
.artrow{
    display: flex;
    justify-content: center;
    margin: 50px auto;

}
.art_title{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.art_text{
line-height: 1.5;
}






/***********  section ***********/
.section_row{
    position: relative;
    display: flex;
    justify-content: center;
}
.section_col{
   height: 380px;
   background-image: url("/images/富士山.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   position: relative;

}

@media only screen and (min-width: 767px) {
    .section_col{
     height: 400px;
     background-size:50% 100%;
     }
  }

.section_col::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #4cbce0;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: .7;
}


.section_col_text_title{
   color: #fff;
   text-align: center;
   align-items: center;
   position: absolute;
   top: 50px;
   left: auto;
   right: auto;
   bottom: auto;
}

.h1title{
    padding: 20px;
    border-bottom: 2px solid #fff;
}


.info{
    margin-top: 30px;
}



.social_box{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    

}
.social_ul{
    display: flex;
}
.social_ul li{
    margin: 5px 15px;
}
.social{
   color: #fff; 
}

.GObt{
    border-style: none;
    border-radius: 6px;
    background-color: #fff;
    font-style: italic;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 10px;
}
.GObt:hover{
    color: #fff;
    background-color: #E0B941;
}

/***** model *****/
.modal-title{
    color: #666;
}

.modal-body{
   display: flex;
   justify-content: center;
    
}

.infoLayout{
    margin-bottom: 8px;
    width: 350px;
}
