.article{
    margin: 100px 0px;
     display: flex;
     justify-content: center;
}


.list-group-item{
    padding: 25px 30px;
}

article a{
    text-decoration: none;
 
}



.content{
    display: none;
    padding-left: 30px;
}



/********/
.text{
    line-height: 1.5;
}
.foc{
    margin-left: 10px;
    color: #666;
}