header{
width: 100%;
height:auto;
padding-bottom: 150px;
position: relative;
top: 80px;
}

.skill_title{
width: 100%;
height: 50px;
line-height: 50px;
text-align: center;
margin-bottom: 30px;
}

.SKill_all{
    width: 80%;
    height: 400px;
    margin: auto;
    display: flex;
    


}

.skill_box{
    width: 30%;
    height:100%;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    background-color: #5D737E; ;
    color: #D6F8D6;
    position: relative;

}

.skill_box H3{
    text-align: center;
    margin-bottom: 15px;
}

.skititle{
    margin-bottom: 100px;
    text-align: center;
    
    
   
}

.skill_box::before{
    content: '';
    width:0;
    height: 0;
   
    border-color: #7FC6A4 transparent transparent transparent;
    border-style: solid solid solid solid;
    border-width: 50px  70px 0px 70px;
    position: absolute;
    top:0;
    left:auto;
    right: auto;
    
    margin: auto;
    
}
